[submodule "qemu_vpmu"]
	path = qemu_vpmu
	url = https://github.com/snippits/qemu_vpmu
	ignore = dirty
[submodule "snippit_ui"]
	path = snippit_ui
	url = https://github.com/snippits/snippit_ui
	ignore = dirty
[submodule "qemu_image"]
	path = qemu_image
	url = https://github.com/snippits/qemu_image
	ignore = dirty
[submodule "vpmu_controller"]
	path = vpmu_controller
	url = https://github.com/snippits/vpmu_controller
	ignore = dirty
[submodule "external/mbrfs"]
	path = external/mbrfs
	url = https://github.com/snippits/mbrfs
	ignore = dirty
[submodule "external/ext4fuse"]
	path = external/ext4fuse
	url = https://github.com/gerard/ext4fuse
	ignore = dirty
