[submodule "external/mbrfs"]
	path = external/mbrfs
	url = https://github.com/snippits/mbrfs
	ignore = dirty
[submodule "external/ext4fuse"]
	path = external/ext4fuse
	url = https://github.com/gerard/ext4fuse
	ignore = dirty
[submodule "qemu-image"]
	path = qemu-image
	url = https://github.com/snippits/qemu-image
[submodule "qemu-vpmu"]
	path = qemu-vpmu
	url = https://github.com/snippits/qemu-vpmu
[submodule "snippit-ui"]
	path = snippit-ui
	url = https://github.com/snippits/snippit-ui
